*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This defines what 1 rem is
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 3rem;

  box-sizing: border-box;
}

$layout-breakpoint-small: 720px;

@media (max-width: $layout-breakpoint-small) {
  body {
    padding: 0;
  }
  html {
    //This defines what 1 rem is
    font-size: 62.5%;
  }
  .section-features {
    z-index: -1;
    margin-top: 10rem;
  }
}
